body {
  padding: 1%;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  flex: horizontal;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  max-width: 999px;
}

[type=number] {
  text-align: right;
}